.App {
  padding: 35px;
}
table {
  width: 100%;
}
th {
  color: black;
}

td,
th {
  padding: 20px 10px;
  text-align: left;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.labels tr td {
  background-color: #2cc16a;
  font-weight: bold;
  color: #fff;
}

.label tr td label {
  display: block;
}

[data-toggle="toggle"] {
  display: none;
}
